*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}

.bg-image {
  width: 100%;
  height: 100vh;
  background: url(pcs.jpg);
  background-position: top;
  background-attachment: fixed;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-size: 106%;
}

.container {
  padding: 4rem;
  text-align: justify;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: cursive;
  text-align: center;
  letter-spacing: 0.2rem;
}

.container p {
  letter-spacing: 0.03rem;
  margin: 2rem 0;
  line-height: 1.5;
  font-family: cursive;
}
@media (max-width: 550px) {
  .container {
    padding: 1rem;
  }
  .heading {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
}
